/*CSS Reset*/
*{
	padding: 0; /*pasulod*/
	margin: 0; /*palabas */
	box-sizing: border-box;
}

/*FLOAT Property*/
.img-float{
	width: 250px;
	height: 250px;
	/*float -> left, right*/
	float: right; /*mainly used for imgs, videos*/
}
.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}
.child-one{
	background-color: grey;
	padding: 10px;
}
.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky; /*relative[parent], static, absolute[root], fixed [root], sticky[parent, commonly used for nav]*/
	/*left: 10px;
	bottom: 10px;*/
	top: 0px;
}
.child-three{
	background-color: grey;
	padding: 10px;
}

.container{
	position: relative;

}

.black-box{
	position: absolute;
	background-color: black;
	color: white;
	height: 60px;
	width: 60px;
	left: 50px;
	top: 50px;
	z-index: 10; /*the higher z-index, the higher the frontage on screen*/
}

.gray-box{
	position: absolute;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
	z-index: 3;
}

.green-box{
	position: absolute;
	background-color: lightgreen;
	height: 100px;
	width: 35%;
	left: 270px;
	top: -15px;
	z-index: 5;
}