/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*from Google Fonts*/
body{
	font-family: 'Open Sans', sans-serif;
}
nav	{
	/*rem - root element (window dependent sizing)*/
	/*1rem = 16px*/
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	padding: 0.8rem; /*create space between element's border and element's content*/
	margin: 2rem; /*final layer of the box (spaces between two elements)*/
	border-bottom: 1px solid gray;
}
nav ul {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline; /*to make ul/ol on a single line*/
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2, #succeed-info h3{
	margin-bottom: 1rem;
	text-align: center;
}
#succeed-info p {
	text-align: justify;
}

#succeed-info .card{
	display: inline-block; /*allows the cards to appear beside each other*/
	vertical-align: top; /*aligns element from the top (partner with the code above)*/
	min-height: 175px; /*allows the card to have equal heights despite having unequal contents*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
